@import '~bootstrap/dist/css/bootstrap.min.css';
// @import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import './scssHelpers.scss';

body {
  font-family: 'Comic Sans MS', 'ubuntu';
  background-image: url('/img/v1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  &__container {
    min-height: 100vh;
    background: #fff;
    box-shadow: inset 12px 0 25px -15px rgba(0, 0, 0, 0.9), inset -12px 0 25px -15px rgba(0, 0, 0, 0.9);
  }
}
