.filterButton {
  cursor: pointer;
  user-select: none;
  &_active {
    text-decoration: underline;
    font-weight: bold;
    color: steelblue;
  }
}

.todoRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
